<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title> <%=user.org.username%>  | Organizations </title>
		<link rel="icon" type="image/gif" href="<%=context%>/resources/logo.png" />
        
		<!-- LIBRARIES -->
        <script> var context = "<%=context%>"; </script>
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>
        <script src="<%=context%>/libraries/datatables/datatables.js" type="application/javascript"> </script>
        <link type="text/css" href="<%=context%>/libraries/datatables/datatables.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/libraries/font-awesome-4.7.0/css/font-awesome.min.css" rel=stylesheet>
        
        <!-- SCRIPTS -->
        <script src="<%=context%>/scripts/modal.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/aps_orgs.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/logout.js" type="application/javascript"> </script>
        
        <!-- STYLES -->
        <link type="text/css" href="<%=context%>/styles/modal.css" rel=stylesheet>
        <link type="text/css" href="<%=context%>/styles/content.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/navigation.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/table-styles.css" rel ="stylesheet">
        <link type="text/css" href="<%=context%>/styles/aps_orgs.css" rel="stylesheet">
	</head>
    <body>
        <!-- BACKGROUNDS AND OVERLAYS -->
        <div id="main-bg"></div>
        <div id="main_overlay"></div>

        <% include sections/modal_orguser %>
        <!-- MAIN VIEW START -->
        <div id="main">
            <% var menu = 3 %>
            <% include sections/navigation %>
            
            <!-- MAIN CONTENT START -->
            <div id="main_content">                 
                <!-- MAIN HEADER START -->
                <div id="main_header">
                    <!-- MAIN HEADER TITLE -->
                    <h1 class="body_label head"> Manage Accounts </h1>
                </div>
                <!-- MAIN HEADER END -->
                
                <!-- MAIN BODY START -->
                <div id="main_body">
                    <div id = "orgs-tab" class = "table-container">
                        <button id = "manage-org" class="tab selected">
                            <i class="fa fa-users"> </i>
                            Organizations
                        </button>

                        <button id = "manage-user" class="tab">
                            <i class="fa fa-user"> </i>
                            Users
                        </button>
                    </div>
                    
                    
                    <!-- ORG TABLES CONTAINER START -->
                    <div id="orgs-table" class = "table-container">
                        <button id = "add-org" class="addBtn">
                            <i class="fa fa-plus"> </i>
                            Add Organization
                        </button>
                        <!-- TABLE ORGANIZATIONS LIST START -->
                        <table id="organizations">
                            <!-- THEAD START -->
                            <thead>
                                <!-- HEADER: TIME STAMP, ORG NAME, TITLE, DATE, STATUS -->
                                <tr class = "header"> 
                                	<th class = "header org"> Organization </th>
                                    <th class = "header delete no-sort"> Users </th>
                                </tr>
                            </thead>
                            <!-- THEAD END -->
                            <!-- TBODY START -->   
                            <tbody id = 'organizations-body'>  
                                <% for (key in organizations) { %>     
                                <tr>
                                	<td> <%= organizations[key].name %> (<%= organizations[key].username %>) </td>
									<td> <%= organizations[key].user_count %> </td>
                                    
                                    
                                </tr>
                                <% } %>
                            </tbody>
                            <!-- TBODY END -->
                        </table>
                        <!-- TABLE ORGANIZATIONS LIST END -->
                    </div>
                    <!-- ORG TABLES CONTAINER END -->
                    <!-- ORG TABLES CONTAINER START -->
                    <div id="users-table" class = "table-container">
                        <button id = "add-user" class="addBtn">
                            <i class="fa fa-plus"> </i>
                            Add User
                        </button>
                        <!-- TABLE ORGANIZATIONS LIST START -->
                        <table id="users">
                            <!-- THEAD START -->
                            <thead>
                                <!-- HEADER: TIME STAMP, ORG NAME, TITLE, DATE, STATUS -->
                                <tr class = "header"> 
                                	<th class = "header user"> User </th>
                                    <th class = "header delete no-sort"> Organization </th>
                                    <th class = "header delete no-sort"> Action </th>
                                </tr>
                            </thead>
                            <!-- THEAD END -->
                            <!-- TBODY START -->   
                            <tbody id = 'users-body'> 
                                <% for (key in users) { %>     
                                <tr>
                                	<td> <%= users[key].name %> <br> (<%= users[key].username %>) <br> <%= users[key].email %></td>
									<td> <%= users[key].org.name %> </td>
                                    <td> 
                                        <i class = "iconBtn delete fa fa-trash" data-orgID="<%=key%>"> </i>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                            <!-- TBODY END -->
                        </table>
                        <!-- TABLE ORGANIZATIONS LIST END -->
                    </div>
                    <!-- ORG TABLES CONTAINER END -->
                </div>
                <!-- MAIN BODY END -->
            </div>
            <!-- MAIN CONTENT END -->
        </div>
        <!-- MAIN VIEW END -->
    </body>
</html>