<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<title> <%=user.org.username%>  | Organizations </title>
		<link rel="icon" type="image/gif" href="<%=context%>/resources/logo.png" />
        
		<!-- LIBRARIES -->
        <script> var context = "<%=context%>"; </script>
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>
        <script src="<%=context%>/libraries/datatables/datatables.js" type="application/javascript"> </script>
        <link type="text/css" href="<%=context%>/libraries/datatables/datatables.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/libraries/font-awesome-4.7.0/css/font-awesome.min.css" rel=stylesheet>
        
        <!-- SCRIPTS -->
        <script src="<%=context%>/scripts/modal.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/aps_orgs.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/logout.js" type="application/javascript"> </script>
        
        <!-- STYLES -->
        <link type="text/css" href="<%=context%>/styles/modal.css" rel=stylesheet>
        <link type="text/css" href="<%=context%>/styles/content.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/navigation.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/table-styles.css" rel ="stylesheet">
        <link type="text/css" href="<%=context%>/styles/aps_orgs.css" rel="stylesheet">
	</head>
    <body>
        <!-- BACKGROUNDS AND OVERLAYS -->
        <div id="main-bg"></div>
        <div id="main_overlay"></div>
        <!-- MODAL VIEW START -->
        <div id = "modal-view" tabindex="1">
            <!-- MODAL BACKGROUND -->
            <div id = "modal-bg"> </div>
            <!-- MODAL CONTENT START -->
            <div id = "modal-container-outer">
                <button id = "modal-close"> </button>
                
                <div id = "modal-container">
                    <div id = "modal-content">
                        <form id = "add-org-form" action = "addOrganization" method="POST">
                            <label class = "modal-title"> Add Organization </label> 
                            <div class="modal-row">
                                <label class = "modal-label"> Name </label>
                                <input class = "modal-field">
                            </div>
                            <div class = "modal-row">
                                <label class = "modal-label"> Username </label>
                                <input class = "modal-field">
                            </div>
                            <div class = "modal-row">
                                <button class = "addBtn" type="submit"> 
                                    <i class = "fa fa-plus"> </i>
                                    Add
                                </button>
                            </div>
                        </form> 
                        <form id = "add-user-form" action = "addOrganization" method="POST">
                            <label class = "modal-title"> Add/Edit User </label>
                            <div class="modal-row">
                                <label class = "modal-label"> Name </label>
                                <input class = "modal-field" type="text">
                            </div>
                            <div class = "modal-row">
                                <label class = "modal-label"> Username </label>
                                <input class = "modal-field" type="text">
                            </div>
                            <div class = "modal-row">
                                <label class = "modal-label"> Email </label>
                                <input class = "modal-field" type="email">
                            </div>
                            <div class = "modal-row">
                                <label class = "modal-label"> Contact </label>
                                <input class = "modal-field" type="tel">
                            </div>
                            <div class = "modal-row">
                                <label class = "modal-label"> Organization  </label>
                                <select class = "modal-field"> 
                                    <% for (key in organizations) { %>     
                                    <option> <%= organizations[key].name %> </option>
                                    <% } %>
                                </select>
                            </div>
                            
                            <div class = "modal-row">
                                <button class = "modal-add addBtn" type="submit"> 
                                    <i class = "fa fa-plus"> </i>
                                    Add
                                </button>
                                <button class = "modal-save addBtn" type="submit"> 
                                    <i class = "fa fa-save"> </i>
                                    Save
                                </button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
            <!-- MODAL CONTENT END -->
        </div>
        <!-- MODAL VIEW END -->
        <!-- MAIN VIEW START -->
        <div id="main">
            <!-- SIDE BAR NAVIGATION START -->
            <nav id="nav">
                <!-- TOP ITEMS -->
                <div id="top_div">
                    <!-- HEADER OVERLAY -->
                    <div class = "label-header-overlay"> </div>
                    <!-- HEADER IMAGE -->
                    <div class = "label-header"> </div>
                
                    <!-- HEADER CONTENT START -->
                    <div id="header">
                        <!-- LOGIN ICON HOLDER -->
                        <div class = "icon-holder"> </div>
                        <!-- DLSU LOGO -->
                        <img id = "dlsu-logo" src="<%=context%>/resources/logo.png">
                        <!-- ICON HOLDER OVERLAY -->
                        <div class = "icon-holder-overlay"> </div>
                    </div>
                    
                    <!-- WELCOME MESSAGE -->
                    <p class="nav label"> Welcome <%=user.name%> </p>
                    <!-- SUBMISSIONS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>"> 
	                    <button id="submissions" class="nav-item nav-button"> 
	                            Submissions
                    		<div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- SUBMISSIONS BUTTON LINK END -->
                    <!-- STATISTICS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>/aps/statistics"> 
	                   	<button class = "nav-item nav-button"> 
	                           Statistics
	                       <div class = "triangle"> </div>
	                   	</button>
                    </a>
                    <!-- STATISTICS BUTTON LINK END -->
                    <!-- ORGANIZATIONS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>/aps/accounts"> 
	                    <button id="orgs" class="nav-item nav-button selected"> 
	                            Manage Accounts 
	                        <div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- ORGANIZATIONS BUTTON LINK END -->
                </div>
                <!-- BOTTOM ITEMS START -->
                <div id="bottom_div">
                    <!-- ACCOUNT SETTINGS BUTTON -->
                    <a class = "nav-link" href="<%=context%>/aps/profile">
	                    <button id="change_pw" class="nav-item nav-button"> 
	                            Account Settings
	                        <div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- SIGN OUT BUTTON -->
                    <a class = "nav-link">
	                    <button id="signout" class="nav-item nav-button">   
	                            Logout	                       
	                    </button>
                    </a>
                </div>
                <!-- BOTTOM ITEMS END -->
            </nav>
            <!-- SIDE BAR NAVIGATION END -->
            
           <!-- MAIN CONTENT START -->
            <div id="main_content">
                <!-- MESSAGE TOAST START -->
                <div id = "add-notif" class = "toast"> 
                    <b id = "username-toast"> Username </b> with password <b id = "password-toast"> password </b> has been added.
                    <button id = "undo-toast">
                        UNDO
                    </button>
                    <button id = "ok-toast"> 
                        OKAY
                    </button>
                </div>
                <!-- MESSAGE TOAST END -->
                <!-- MAIN HEADER START -->
                <div id="main_header">
                    <!-- MAIN HEADER TITLE -->
                    <h1 class="body_label head"> Manage Accounts </h1>
                </div>
                <!-- MAIN HEADER END -->
                
                <!-- MAIN BODY START -->
                <div id="main_body">
                    <div id = "orgs-tab" class = "table-container">
                        <button id = "manage-org" class="tab selected">
                            <i class="fa fa-users"> </i>
                            Organizations
                        </button>

                        <button id = "manage-user" class="tab">
                            <i class="fa fa-user"> </i>
                            Users
                        </button>
                    </div>
                    
                    
                    <!-- ORG TABLES CONTAINER START -->
                    <div id="orgs-table" class = "table-container">
                        <button id = "add-org" class="addBtn">
                            <i class="fa fa-plus"> </i>
                            Add Organization
                        </button>
                        <!-- TABLE ORGANIZATIONS LIST START -->
                        <table id="organizations">
                            <!-- THEAD START -->
                            <thead>
                                <!-- HEADER: TIME STAMP, ORG NAME, TITLE, DATE, STATUS -->
                                <tr class = "header"> 
                                	<th class = "header org"> Organization </th>
                                    <th class = "header delete no-sort"> Users </th>
                                    <th class = "header delete no-sort"> Status </th>
                                    <th class = "header delete no-sort"> Action </th>
                                </tr>
                            </thead>
                            <!-- THEAD END -->
                            <!-- TBODY START -->   
                            <tbody id = 'organizations-body'>  
                                <% for (key in organizations) { %>     
                                <tr>
                                	<td> <%= organizations[key].name %> (<%= organizations[key].username %>) </td>
									<td> <%= organizations[key].user_count %> </td>
                                    <td> 
                                        <% if (organizations[key].status == "active") { %>
                                            <i class ="fa fa-check"> </i>
                                        <% } else {%>
                                            <i class ="fa fa-times"> </i>
                                        <% } %>
                                        <%= organizations[key].status %> 
                                    </td>
                                    <td>
										<% if (organizations[key].privilege.toUpperCase() != "ADMIN") { %>
										     <% if (organizations[key].status == "active") { %>
                                                <i class ="iconBtn archive fa fa-archive"> </i>
                                            <% } else {%>
                                                <i class ="iconBtn unarchive fa fa-inbox"> </i>
                                            <% } %>
                                        <% } %>
									</td>
                                </tr>
                                <% } %>
                            </tbody>
                            <!-- TBODY END -->
                        </table>
                        <!-- TABLE ORGANIZATIONS LIST END -->
                    </div>
                    <!-- ORG TABLES CONTAINER END -->
                    <!-- ORG TABLES CONTAINER START -->
                    <div id="users-table" class = "table-container">
                        <button id = "add-user" class="addBtn">
                            <i class="fa fa-plus"> </i>
                            Add User
                        </button>
                        <!-- TABLE ORGANIZATIONS LIST START -->
                        <table id="users">
                            <!-- THEAD START -->
                            <thead>
                                <!-- HEADER: TIME STAMP, ORG NAME, TITLE, DATE, STATUS -->
                                <tr class = "header"> 
                                	<th class = "header user"> User </th>
                                    <th class = "header delete no-sort"> Organizations </th>
                                    <th class = "header delete no-sort"> Action </th>
                                </tr>
                            </thead>
                            <!-- THEAD END -->
                            <!-- TBODY START -->   
                            <tbody id = 'users-body'> 
                                <% for (key in users) { %>     
                                <tr>
                                	<td> <%= users[key].name %> (<%= users[key].username %>) </td>
									<td> <%= users[key].org.name %> </td>
                                    <td> 
                                        <i class = "iconBtn delete fa fa-trash"> </i>
                                        <i class = "iconBtn edit fa fa-pencil"> </i>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                            <!-- TBODY END -->
                        </table>
                        <!-- TABLE ORGANIZATIONS LIST END -->
                    </div>
                    <!-- ORG TABLES CONTAINER END -->
                </div>
                <!-- MAIN BODY END -->
            </div>
            <!-- MAIN CONTENT END -->
        </div>
        <!-- MAIN VIEW END -->
    </body>
</html>