<html>
	<head>
		
		<title> <%=user.org.username%> | Statistics </title>
		<link rel="icon" type="image/gif" href="<%=context%>/resources/logo.png" />


        <!-- LIBRARIES -->
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.min.js" type="application/javascript"> </script>
        <script src="<%=context%>/libraries/chartlist/chartlist.min.js" type="application/javascript"> </script>
        
        <link type="text/css" href="<%=context%>/libraries/font-awesome-4.7.0/css/font-awesome.min.css" rel=stylesheet>
        
        <!-- SCRIPTS -->
                
        <script>
            var academic = "<%=academic%>";
            var nonacademic = "<%=nonacademic%>";
            var context = "<%=context%>"; 
        </script>
        <script src="<%=context%>/scripts/logout.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/statistics.js" type="application/javascript"> </script>
        <!-- STYLES -->
        <link type="text/css" href="<%=context%>/styles/statistics.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/content.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/navigation.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/dashboard-style.css" rel="stylesheet">
</head>
<body>
    <!-- WEB PAGE BACKGROUND AND OVERLAYS -->
    <div id = "main-bg"> </div>
    <div id = "main-overlay"> </div>
    
	<div id = "main">
            <!-- SIDE BAR NAVIGATION START -->
            <nav id="nav">
                <!-- TOP ITEMS -->
                <div id="top_div">
                    <!-- HEADER OVERLAY -->
                    <div class = "label-header-overlay"> </div>
                    <!-- HEADER IMAGE -->
                    <div class = "label-header"> </div>
                
                    <!-- HEADER CONTENT START -->
                    <div id="header">
                        <!-- LOGIN ICON HOLDER -->
                        <div class = "icon-holder"> </div>
                        <!-- DLSU LOGO -->
                        <img id = "dlsu-logo" src="<%=context%>/resources/logo.png">
                        <!-- ICON HOLDER OVERLAY -->
                        <div class = "icon-holder-overlay"> </div>
                    </div>
                    
                    <!-- WELCOME MESSAGE -->
                    <p class="nav label"> Welcome <%=user.name%> </p>
                    <!-- SUBMISSIONS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>"> 
	                    <button id="submissions" class="nav-item nav-button"> 
	                            Submissions
                    		<div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- SUBMISSIONS BUTTON LINK END -->
                    <!-- STATISTICS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>/aps/statistics"> 
	                   	<button class = "nav-item nav-button selected"> 
	                           Statistics
	                       <div class = "triangle"> </div>
	                   	</button>
                    </a>
                    <!-- STATISTICS BUTTON LINK END -->
                    <!-- ORGANIZATIONS BUTTON LINK START -->
                    <a class = "nav-link" href="<%=context%>/aps/organizations"> 
	                    <button id="orgs" class="nav-item nav-button"> 
	                            Organizations
	                        <div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- ORGANIZATIONS BUTTON LINK END -->
                </div>
                <!-- BOTTOM ITEMS START -->
                <div id="bottom_div">
                    <!-- ACCOUNT SETTINGS BUTTON -->
                    <a class = "nav-link" href="<%=context%>/aps/profile">
	                    <button id="change_pw" class="nav-item nav-button"> 
	                            Account Settings
	                        <div class = "triangle"> </div>
	                    </button>
                    </a>
                    <!-- SIGN OUT BUTTON -->
                    <a class = "nav-link">
	                    <button id="signout" class="nav-item nav-button">   
	                            Logout	                       
	                    </button>
                    </a>
                </div>
                <!-- BOTTOM ITEMS END -->
            </nav>
            <!-- SIDE BAR NAVIGATION END -->

		<!-- MAIN CONTENT START -->
	    <div id="main_content">
	        <!-- MAIN HEADER START -->
	        <div id="main_header">
	            <!-- MAIN HEADER TITLE -->
	            <h1 class="body_label head"> Statistics </h1>
	        </div>
	        
	        <div id = "main_body">
	            <div id = "chart"> </div>
	            <div class = "count-main">
	                <div id = "acad" class = "count-container">
	                    <label class = "label value"> <%=academic%> </label> <br>
	                    <label class = "label afield"> ACADEMIC </label>
	                </div>
	                <div id = "non-acad" class = "count-container"> 
	                    <label class = "label value"> <%=nonacademic%> </label> <br>
	                    <label class = "label afield"> NON-ACADEMIC </label>
	
	                </div>
	            </div>      
	        </div>
		</div>
		<!-- MAIN CONTENT END -->
    </div>
</body>
</html>