<html>
	<head>
        <title> APS | Add Organization </title>
        <!-- LIBRARIES -->
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>

        <!-- STYLES -->
        <link type="text/css" href="<%=context%>/styles/login.css" rel="stylesheet"/>
    	
    	<!-- SCRIPTS -->
    	<script src="<%=context%>/scripts/modal.js" type = "application/javascript"> </script>
    	<script src="<%=context%>/scripts/login.js" type = "application/javascript"> </script>
    </head>
    <body>
        <!-- MAIN BG -->
        <div id="main_bg"></div>
        <!-- MAIN OVERLAY -->
        <div id="main_overlay"></div>
        <p><%= status%></p>
        <form action="addOrg" method="post">
             <!-- ORG NAME -->
             <p class="label"> Name of Org </p>
             <input id = "add_name" class="username" type="text" name="org_name"/>

              <!-- ORG USERNAME -->
              <p class="label"> Username of Org </p>
              <input id = "add_name" class="username" type="text" name="org_username"/>
             
              <!-- USER NAME -->
             <p class="label"> Name of User </p>
             <input id = "add_name" class="username" type="text" name="user_name"/>

              <!-- USER USERNAME -->
              <p class="label"> Username of User </p>
              <input id = "add_name" class="username" type="text" name="user_username"/>

              <!-- USER EMAIL -->
             <p class="label"> Email of User </p>
             <input id = "add_name" class="username" type="email" name="user_email"/>

              <!-- USER CONTACT -->
              <p class="label"> Contact Number of User </p>
              <input id = "add_name" class="username" type="number" name="user_contact"/>

              <button id="btn_add" type="submit" value="addOrg"> Add </button>
        </form>
    </body>
</html>