<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title> <%=user.org.username%> | Submissions </title>
		<link rel="icon" type="image/gif" href="<%=context%>/resources/logo.png" />
        
		<!-- LIBRARIES -->
		<script> 
			var username = "<%=user.username%>";
			var context = "<%=context%>"; 
		</script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
        <script>
            var config = {
                apiKey: "AIzaSyBL3mFq5IA-6wlKsvxJCmeRvEuCrC8tp-k",
                authDomain: "labfirebase-f292b.firebaseapp.com",
                databaseURL: "https://labfirebase-f292b.firebaseio.com",
                projectId: "labfirebase-f292b",
                storageBucket: "labfirebase-f292b.appspot.com",
                messagingSenderId: "783008488555"
            };
            firebase.initializeApp(config);
        </script>
        <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>
        <script src="<%=context%>/libraries/datatables/datatables.js" type="application/javascript"> </script>
        <link type="text/css" href="<%=context%>/libraries/datatables/datatables.css" rel="stylesheet">
      	<link type="text/css" href="<%=context%>/libraries/font-awesome-4.7.0/css/font-awesome.min.css" rel=stylesheet>
        
        <!-- SCRIPTS -->
        <script src="<%=context%>/scripts/dashboard.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/logout.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/notification.js" type="application/javascript"> </script>
        <script src="<%=context%>/scripts/modal.js" type="application/javascript"> </script>
        
        <!-- STYLES -->
        <link type="text/css" href="<%=context%>/styles/modal.css" rel=stylesheet>
        <link type="text/css" href="<%=context%>/styles/content.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/navigation.css" rel="stylesheet">
        <link type="text/css" href="<%=context%>/styles/table-styles.css" rel ="stylesheet">
        <link type="text/css" href="<%=context%>/styles/dashboard-style.css" rel="stylesheet">
	</head>
    <body>
        <!-- BACKGROUNDS AND OVERLAYS -->
        <div id="main-bg"></div>
        <div id="main_overlay"></div>
	        
        <!-- MAIN VIEW START -->
        <div id="main">
            <% var menu = 1 %>
            <% include sections/navigation %>
        
            <!-- MAIN CONTENT START -->
            <div id="main_content">
                <!-- MAIN HEADER START -->
                <div id="main_header">
                    <!-- MAIN HEADER TITLE -->
                    <h1 class="body_label head"> Submissions </h1>
                </div>
                <!-- MAIN HEADER END -->
                <!-- MAIN BODY START -->
                <button class = "submit btn"> 
                    <a  class = "link" href="<%=context%>/org/newSubmission">
                        <i class = "fa fa-plus"> </i>
                        New Submission 
                    </a>
                </button>
                <div id="main_body">
                    <div id = "table-container">
                        <!-- TABLE SUBMISSIONS START -->
                         <table id="table_submissions">
                            <thead>
                                <!-- HEADER: TIME STAMP, ORG NAME, TITLE, DATE, STATUS -->
                                <tr class = "header"> 
                                    <th class = "header timestamp"> Timestamp </th>
                                    <th class = "header org"> Organization </th>
                                    <th class = "header title"> Title </th>
                                    <th class = "header status"> Status </th>
                                </tr>
                            </thead>

                            <!-- DATA: SUBMISSIONS -->    
                            <tbody id="tbody">
                            <% for (key in submissions) { %> 
                                <tr data-docuID = "<%=key%>" >
	                                <td> <%= submissions[key].timestamp %> </td>
                                    <td> <%= submissions[key].org.name%> </td>
	                                <td> <%= submissions[key].title %>  </td>
                                    
		                            <% switch (submissions[key].status) { 
                                            case "EARLY APPROVED": %>
                                            <td class = "early_approved"> <%=submissions[key].status%> </td>
                                        <%  break;
                                            case "LATE APPROVED": %>
                                            <td class = "late_approved"> <%=submissions[key].status%> </td>
                                        <%  break;
                                            case "PENDING": %>
                                            <td class = "pending"> <%=submissions[key].status%> </td>
                                        <%  break;
                                            case "DENIED": %>
                                            <td class = "denied"> <%=submissions[key].status%> </td>
                                        
                                        <%  break;
                                            case "-":
                                            case "":
                                            case null: %>
                                            <td> No Checkers Yet </td>
                                        <%  break;
                                            default: %>
                                            <td> <%=submissions[key].status%> </td>
	                                <% } %>
	                            </tr>
                            <% } %>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table> 
                    </div>
                    <!-- TABLE SUBMISSION LIST -->
                </div>
                <!-- MAIN BODY END -->
            </div>
            <!-- MAIN CONTENT END -->
            
			<!-- NOTIFICATIONS START -->
            <div id = "notifications">
                <div class = "notif-container">
                    <div id = "notif-btn">
                        <i class = "fa fa-bell-o notif_icon"> </i>
                    </div>
                    <div class = "badge1" data-badge="15" id = "notif-count"> </div>
                    <div class = "notif-label"> NOTIFICATIONS </div>  
                    <div id = "notif-clear">
                        
                        <i class = "fa fa-inbox"> </i>
                    </div>
                </div>
                <ol id = "notifs-list">

                </ol>
            </div>
            <!-- NOTIFICATIONS END -->
        </div>
        <!-- MAIN VIEW END -->
    </body>
</html>